<%= form_for(@simple_search) do |f| %>
  <% if @simple_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@simple_search.errors.count, "error") + I18n.t('simple_search.errors.validation_error') %></h2>

      <ul>
      <% @simple_search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="simple_search">
    <div class="keywords search_element">
      <%= f.label I18n.t('simple_search.label.keywords') %><br>
      <%= f.text_field :keywords, :placeholder => I18n.t('simple_search.placeholder.keywords') %>
    </div>
    <div class="location search_element">
      <%= f.label I18n.t('simple_search.label.location') %><br>
      <%= f.text_field :location, :placeholder => I18n.t('simple_search.placeholder.location') %>
    </div>
    <div class="actions search_element btn">
      <%= f.submit I18n.t('simple_search.search')%>
    </div>
  </div>
<% end %>
