<p id="notice"><%= @notice %></p>

<%= render 'form' %>
<div>
  <% if @search_results %>
    <% if @search_results['Errors'].first.empty? %>
      <div class="results">
        <span>Total results found <%= @search_results['TotalCount'].first %></span>
        <% @search_results['Results'].first['JobSearchResult'].each do |result| %>
            <%= render 'search_result', result: result %>
        <% end %>
        <%= render 'pagination' %>
      </div>
    <% else %>
      <div id="error_explanation">
        <h2><%=  @search_results['Errors'].first %></h2>
      </div>
    <% end %>
  <% end %>
</div>
<br>

